:root {
    --main: #ffcc33;
    --bg: #161617;
    --txt: #ffffff;
    --secondarytxt: #ccd6f6;
}

html {
    box-sizing: border-box;
    background-color: var(--bg);
    font-family: Ubuntu;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}


/*settings for each page*/

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: var(--main);
    border-radius: 10px;
    margin-top: 50px;
}

#yellow_gradient {
    width: 100%;
    height: 90px;
    display: flex;
    background: rgb(255, 204, 51);
    background: linear-gradient(180deg, rgba(255, 204, 51, 1) 0%, rgba(22, 22, 23, 1) 64%);
}


/*Canvas stuff*/

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*border-radius: 50%;*/
    top: 4px;
    left: 4px;
}

#canvas_holder {
    display: flex;
    width: 80%;
    height: 200px;
    line-height: 0;
    /*border-radius: 50%;*/
    position: relative;
    /*border: 1px solid white;*/
    margin: 0 auto;
    margin-bottom: 20px;
}


/*information*/

.information {
    color: var(--txt);
    font-family: Ubuntu;
    margin-left: 30px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
}

.intro {
    color: var(--main);
    margin-bottom: 5px;
    font-size: 15px;
}

.name {
    color: var(--txt);
    margin-bottom: 5px;
    font-size: 30px;
}

.description {
    color: var(--secondarytxt);
    font-size: 13px;
}

.links {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    height: 30px;
}

.cv_button_holder {
    height: 30px;
}

#cv_button {
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-family: Ubuntu;
    font-size: 12px;
    height: 100%;
    width: 120px;
    color: var(--txt);
    padding-top: 4px;
    padding-left: 36px;
}

.socials {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 5px;
}

.f1_title {
    color: var(--txt);
    font-family: ubuntu;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.f1_title_text {
    display: inline-block;
    margin: 0 auto;
    margin-right: 10px;
    position: relative;
    left: 40px;
    width: 100%;
}

.line1 {
    color: var(--main);
    height: 3px;
    width: 25px;
    margin: 0 auto;
    display: inline-block;
    background-color: var(--main);
    position: absolute;
}

.line2 {
    color: var(--main);
    height: 3px;
    width: 250px;
    display: inline-block;
    background-color: var(--main);
    position: relative;
}

.f1_logo {
    text-align: center;
    margin-top: 5px;
    margin: 0 auto;
}

.f1_logo_pic {
    background-color: var(--bg);
    margin: 0 auto;
    height: 35px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 10px;
}

#rugby_title_text {
    width: 100%;
}

#rugby_link {
    margin-top: 30px;
}

.f1_description {
    color: var(--txt);
    font-family: Ubuntu;
}